*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: white;
    background-color: rgb(49, 49, 49);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
#header{
    background-color: rgb(107, 153, 153);
    text-align: center;
}
#nav{
    color: white;
    background-color: rgb(29, 65, 42);
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
#nav a{
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: 0.3s all;
    border-radius: 10px;
    padding: 10px;
}
#nav a:hover{
    color: black;
    background-color: rgb(119, 119, 119);
}

#section{
    background-color: rgb(80, 74, 136);
    box-sizing: border-box;
    padding: 10px;
}
#article{
    background-color: rgb(91, 42, 131);
    box-sizing: border-box;
    padding: 10px;
}
#aside{
    background-color: rgb(126, 40, 44);
    width: 30%;
    height: auto;
    box-sizing: border-box;
    padding: 10px;
}
main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
main::after{
    clear: both;
}
#footer{
    width: 100%;
    text-align: center;
    height: 100px;
    background-color: rgb(156, 167, 62);
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    float: left;
    width: 70%;
    box-sizing: border-box;
  
    display: flex;
    flex-wrap: wrap;
}