body{
    color: white;
    background-color: rgb(36, 37, 53);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
#header{
    background-color: rgb(52, 54, 90);
    height: 100%;
    margin: 0px;
    padding: 10px;
}

a{
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: 0.3s all;
}
#nav{
    
    background-color: rgb(84, 86, 131);
    height: auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
#nav a{
    margin-block: 5px;
    margin-inline: 10px;
    border-radius: 10px;
    background-color: rgb(84, 86, 131);
}
#nav a:hover{
    color: rgb(255, 0, 0);
    background-color: rgb(52, 54, 90);
}
#vertical-nav{
    background-color: rgb(52, 54, 90);
    padding: 10px;
    float: left;
    box-sizing: border-box;
    width: 30%;
    height: 100%;
   
}
#vertical-nav a{
    background-color: rgb(52, 54, 90);
    display: block;
    height: auto;
    max-height: 50px;
    border-radius: 10px;
}
#vertical-nav a:hover{
    color: black;
    background-color: rgb(84, 86, 131);

}
section, article{
    float: left;
    width: 70%;
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
}
#section{
    background-color: rgb(80, 74, 136);
}
#article{
    background-color: rgb(87, 80, 153);
}
#aside{
    background-color: rgb(52, 54, 90);
    float: left;
    justify-content: space-between;
    width: 30%;
    height: 100%;
    min-height: 300px;
    box-sizing: border-box;
    padding: 10px;
}

main{
    min-height: 400px;
    width: 100%;
    height: 100%;
    
    background-color: rgb(52, 54, 90);
}

#footer{
    width: 100%;
    text-align: center;
    height: 100px;
    background-color: rgb(39, 40, 66);
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
    width: 225px;
    height: auto;
}