body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    background-color: rgb(36, 37, 53);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
#header{
    background-color: rgb(52, 54, 90);
    height: 100%;
    margin: 0px;
    padding: 10px;
    display: flex;
}
#header a{
    display: flex;
}
#header a h1{
    align-self: flex-end;
}

a{
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: 0.3s all;
}
#nav{ 
    background-color: rgb(84, 86, 131);
    height: auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
#nav a{
    margin-block: 5px;
    margin-inline: 10px;
    border-radius: 1px;
    background-color: rgb(84, 86, 131);
}
#nav a:hover{
    color: rgb(255, 0, 0);
    background-color: rgb(52, 54, 90);
    border-radius: 10px;
}
#vertical-nav{
    float: left;
    background-color: rgb(52, 54, 90);
    padding: 10px;
    box-sizing: border-box;
    width: 30%;
    height: 100%;
}
#vertical-nav a{
    background-color: rgb(52, 54, 90);
    display: flex;
    height: auto;
    max-height: 50px;
    border-radius: 1px;
}
#vertical-nav a:hover{
    color: black;
    background-color: rgb(84, 86, 131);
    border-radius: 10px;

}
section, article{
    box-sizing: border-box;
    padding: 10px;
    flex-grow: 1;
}
#section{
    background-color: rgb(80, 74, 136);
}
#article{
    background-color: rgb(87, 80, 153);
}
#aside{
    float: left;
    background-color: rgb(52, 54, 90);
    display: flex;
    flex-direction: column;
    width: 30%;
    height: auto;
    min-height: 300px;
    box-sizing: border-box;
    padding: 10px;
}

main{
    min-height: 400px;
    width: 100%;
    height: 100%;
    background-color: rgb(52, 54, 90);
    display: flex;
    flex-wrap: wrap;
}

#footer{
    width: 100%;
    text-align: center;
    height: 100px;
    background-color: rgb(39, 40, 66);
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
    width: 225px;
    height: 225px;
}
.container{
    width: 70%;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    
}